matplotlib==3.10.8
numpy==2.2.6
opencv-python==4.12.0.88
pandas==2.3.3
phoenix6==26.3.0
protobuf==6.33.4
pyfrc==2026.0.2
PyQt6==6.10.2
robotpy==2026.2.2
robotpy-apriltag==2026.2.2
robotpy-cli==2026.0.1
robotpy-commands-v2==2026.2.2
robotpy-cscore==2026.2.2
robotpy-hal==2026.2.2
robotpy-halsim-ds-socket==2026.2.2
robotpy-halsim-gui==2026.2.2
robotpy-halsim-ws==2026.2.2
robotpy-installer==2026.0.2
robotpy-native-apriltag==2026.2.2
robotpy-native-ntcore==2026.2.2
robotpy-native-romi==2026.2.2
robotpy-native-wpihal==2026.2.2
robotpy-native-wpilib==2026.2.2
robotpy-native-wpimath==2026.2.2
robotpy-native-wpinet==2026.2.2
robotpy-native-wpiutil==2026.2.2
robotpy-native-xrp==2026.2.2
robotpy-navx==2026.0.0
robotpy-pathplannerlib==2026.1.1
robotpy-rev==2026.0.1
robotpy-romi==2026.2.2
robotpy-urcl==2026.0.0.1
robotpy-wpilib-utilities==2026.1.2
robotpy-wpimath==2026.2.2
robotpy-wpinet==2026.2.2
robotpy-wpiutil==2026.2.2
wpilib==2026.2.2
